body {
	font-family: 'Open Sans', sans-serif;
	font-size: 10pt;			
}

#container {
	display: flex;	
	position: fixed;
	top: 7px;
	left: 7px;
	right: 7px;
	bottom: 7px;
	overflow-y: auto;	
}

#container > div {
	border-radius: 3px;	
	-webkit-box-shadow: 0px 0px 3px 0px rgba(105, 105, 105, 0.75);
	-moz-box-shadow: 0px 0px 3px 0px rgba(105, 105, 105, 0.75);
	box-shadow: 0px 0px 3px 0px rgba(105, 105, 105, 0.75);
}

#map {
	flex: 1;
	border: 1px solid dimgray;	
	z-index: 100;
}

#cockpit {	
	border: 1px solid dimgray;
	background-color: rgb(240, 240, 240);
	z-index: 200;
	margin-left: 7px;
	padding: 7px 7px;
	overflow-y: auto;
	display: inline-block; /* needed together with #cockpit > div styling for width adjustment to appearing scrollbar */
}

#cockpit > div { /* needed together with #cockpit inline-block styling for width adjustment to appearing scrollbar */
	width: 350px; 
}

select {
	width: 100%
}

#details-box, #fotos-box {
	display: none
}

.title {
	font-size: 150%;
    font-weight: bold;
    text-align: center;
    margin-bottom: .2em
}

.subtitle {
	text-align: center
}

.section-head {
    font-size: 120%;
	font-weight: bold;	
    margin-bottom: .3em;
    text-transform: uppercase;
    margin-top: 1em;
}

table.details-table th {
    color: #666;
}

table td {
    background-color: white;
    padding: 2px 5px;    
}

table {
    border-collapse: separate;
    border-spacing: 3px 3px;
    width:  100%;
}

.right {
	text-align: right;
}

th, .nowrap {
    white-space: nowrap;
}

td.grow {
    width: 100%;
    white-space: normal !important
}

th {
    color: #666;
}

.section-subhead {
    font-weight: bold;
    margin-top: .75em;
    font-size: 115%;
}

#marker-count {
	margin-bottom: .5em;
}

.select2-container .select2-selection--multiple {
  min-height: 2em !important;  
}

.select2-results__option {
	padding: 3px 6px !important;
}

.select2-selection__choice {
	margin-top: 4px !important;
	max-width: calc(100% - 10px);
    text-overflow: ellipsis;
    overflow-x: hidden;
}

#filter div {
	margin-bottom: .2em;
}

img.thumb {
	box-shadow: 0 1px 5px rgba(0,0,0,0.65);
	height: 72px;
	max-width: 340px;
	margin-right: 7px; 
	margin-bottom: 7px;
	cursor: pointer;
}

img.thumb.small {
	height: 50px !important;
	max-width: 200px !important;
}

.custom-tooltip {	
	box-shadow: none !important;
	border: none !important;
	background: none !important;
	color: black !important;
	margin-top: -1px !important
}

.custom-tooltip::before {
	display: none !important;
}

.tooltip-toggle {
	box-shadow: 0 1px 5px rgba(0,0,0,0.65);
	border-radius: 4px;
}

.tooltip-toggle a, .tooltip-toggle a:hover {
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	white-space: nowrap;
	height: 26px;
	line-height: 26px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: black;
	border-radius: 4px;
	padding: 0 6px;
}

.tooltip-toggle a:hover {
	background-color: #f4f4f4;
}

.leaflet-tooltipPermanent-pane {
	display: none;
	z-index: 1200;
}

body.wait * {
	cursor: wait;
}

#busy {	
    color: dimgray;
	display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
	text-align: center;
	font-size:200%;
	padding-top: 3em;
    background: rgba(211, 211, 211, 0.9) 
                /*url('http://i.stack.imgur.com/FhHRx.gif') */
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading #busy {
    display: block;
}

.marker-count-banner {
	background-color: rgba(255,255,255,.5);
	color: #333;
	font-size: 11px;
	/*width: 114px;
	text-align: center;*/
	padding: 1px 6px;
	margin-bottom: 6px !important;
}

#load-more {
	width: 100%;
	text-align: center;
}

.glisse-legend {
  position:fixed;
  display:block;
  bottom:10px;
  width: 100%;
	left:0;
	text-align:center;
  color:white;
	font-size: 1.25em
}

div.flatbutton {
	margin-bottom: 6pt;    
}

div.flatbutton > span {
	font-size: smaller;
	padding: 3px 5px;
	line-height: 125%;
	border-radius: .5em;
	background-color: rgb(105,105,105);
	color: white;
	cursor: pointer;	
	-webkit-box-shadow: 2px 2px 2px 0px rgba(105, 105, 105, 0.75);
	-moz-box-shadow:  2px 2px 2px 0px rgba(105, 105, 105, 0.75);
	box-shadow:  2px 2px 2px 0px rgba(105, 105, 105, 0.75);
}

#no-show {
	display: none;
	z-index: 12000;
	padding: 1em 1em;
	overflow: hidden;
	background-color: rgba(255,255,255,.75);
    color: #333;
	border: 1px solid #aaa;
	border-radius: .5em;
	line-height: 1.5em;
    font-size: 1.5em;
	width: 320px;	
	position: relative;
	text-align: center;
	-webkit-box-shadow: 2px 2px 2px 0px rgba(105, 105, 105, 0.75);
	-moz-box-shadow:  2px 2px 2px 0px rgba(105, 105, 105, 0.75);
	box-shadow:  2px 2px 2px 0px rgba(105, 105, 105, 0.75);
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

#logo {	
	position: absolute; 
	right: 0px; 	
	top: 12px;
	width: 170px;
	z-index: 800
}